/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #191919;
    margin: auto; /* Centered */
    border: none;
    border-radius: 10px;
    max-width: 1200px; /* Limit the max-width */
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
}

/* Modal Body */
.modal-body {
    overflow: auto; /* Enable scrolling within the modal */
    padding: 0; /* Remove padding */
    flex: 1; /* Allow the modal body to expand and fill the available space */
    position: relative; /* Ensure the text-overlay can be positioned relative to this container */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}

@keyframes animatezoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
}

/* Modal Header and Close Button */
.modal-body .btn-close {
    font-size: 2rem; /* Increased size */
    opacity: 1;
    color: #fff;
    background-color: transparent;
    padding: 0.75rem; /* Increased padding */
    border: none; /* Remove border */
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-body .btn-close:hover {
    color: #ff0000;
    cursor: pointer;
}

/* Text Overlay */
.text-overlay {
    position: absolute; 
    bottom: 1px; 
    margin-left: 1px; 
    background: transparent; 
    color: white; 
    padding: 180px; 
    z-index: 2; /* Ensure it is above the image */
}

.text-overlay-text {
    font-size: 3rem;
    font-weight: bold;
}

div p {
    color: white;
    font-size: 1.3rem;
}

pre {
    color: grey;
    font-size: 1.3rem;
}

/* Profile Icons */
.profile-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-icon svg,
.rate-icon svg {
    color: grey;
    width: 55px; /* Adjust the size to match the desired icon size */
    height: 55px;
    transition: background-color 0.3s, fill 0.3s;
}

.list-icon:hover svg,
.rate-icon:hover svg {
    color: white;
}

.list-icon:hover pre,
.rate-icon:hover pre {
    color: white;
}

/* Ensure the image covers the full modal content area */
.modal-body img {
    width: 100%;
    height: auto;
}
